.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.DS_Store
/build/
/dist/
*.egg-info/
/reports/tables/tcc.log
/models/
/data/interim/
/data/processed/
/reports/figures/
/reports/tables/
